.user-container .title{
    color: #4f2822;
    
}
.user-container .title span{
    color: #ff3ec2;
    border-bottom: 3px solid #ff3ec2; 
}
.user-container .user{
    border: 1px solid #ddd;
    padding: 1rem;
    height: 400px;
    border-radius: 10px;
}
.user-container .user .user-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.user-container .user .user-image img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.user-container .user .user-info h5{
    color: coral;
}
.user-container .user .icon{
    color:  #ffca28;
}
.user-container .call-icon{
    color: #27c34b;
}